n8n-files/Transcritor para WhatsApp/TranscritorWhatsApp
{
  "meta": {
    "instanceId": "a09197f2ebd5d0e70f4c2d405c2727a5edeaaeb2b140b3de436362e346eeb71f"
  },
  "nodes": [
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "transcricao.mp4",
          "mimeType": "audio/mp4"
        }
      },
      "id": "344fa0dc-9375-4db8-b450-f0985e765500",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1940,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"server_url\"] }}/chat/getBase64FromMediaMessage/{{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"name\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"message_id\"] }}\"\n    }\n  },\n  \"convertToMp4\": false\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "51aa167b-62dd-4f2e-b313-1447621ff48e",
      "name": "Puxa Base64 pelo ID da Conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f16b1bf-1a3e-4029-8d7a-1bccb919ee43",
              "name": "message.message_id",
              "value": "={{ $('Webhook').item.json.body.data.key.id || '' }}",
              "type": "string"
            },
            {
              "id": "11800d83-ecca-4f9c-a878-a2419db0c8e9",
              "name": "message.chat_id",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid || '' }}",
              "type": "string"
            },
            {
              "id": "c33f9527-e661-49e5-8e5e-64f3b430928a",
              "name": "message.content_type",
              "value": "={{ $('Webhook').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook').item.json.body.data.message.imageMessage ? 'image' : '' }}",
              "type": "string"
            },
            {
              "id": "06eba1c9-cff0-4f68-b6da-6bb0092466b7",
              "name": "message.content",
              "value": "={{ $('Webhook').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook').item.json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "b97f1af3-5361-46fc-9303-d644921231d8",
              "name": "message.timestamp",
              "value": "={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}",
              "type": "string"
            },
            {
              "id": "dc3dc59c-90a3-4a45-bea2-de092c91083b",
              "name": "message.content_url",
              "value": "={{ $('Webhook').item.json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook').item.json.body.data.message.imageMessage?.url || '' }}",
              "type": "string"
            },
            {
              "id": "8b01a818-a456-476e-bace-adefe2f04eb4",
              "name": "message.event",
              "value": "={{ $('Webhook').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}",
              "type": "string"
            },
            {
              "id": "b2f1f6b5-292f-4695-9e41-be200c6d7053",
              "name": "instance.name",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "572fcce5-8a26-4e8f-a48a-ef0bee569dcd",
              "name": "instance.apikey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "e90043db-657b-461c-b040-2d6089abfbdb",
              "name": "instance.server_url",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "a944f7a5-0eb8-46e5-a2bc-2b8ace536277",
              "name": "body.data.message.mediaUrl",
              "value": "={{ $json.body.data.message.mediaUrl }}",
              "type": "string"
            },
            {
              "id": "cec38f3d-d6a7-49a2-8504-5e407504147a",
              "name": "body.data.pushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "f6bc3820-44f6-4b3f-90e3-626d9c2df980",
              "name": "body.data.message.base64",
              "value": "={{ $json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c0b42b35-cb2e-45ec-92c1-b1fbe383b4b1",
      "name": "normalizacao",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        980,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"server_url\"] }}/message/sendText/{{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"name\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"chat_id\"] }}\",\n  \"options\": {\n    \"delay\": 1200,\n    \"presence\": \"composing\",\n    \"linkPreview\": false\n  },\n  \"textMessage\": {\n    \"text\": \"{{ $item(\"0\").$node[\"OpenAI1\"].json[\"text\"] }}\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "8dae3bfe-6a94-441a-8940-6eac31ce2cb3",
      "name": "EvolutionV1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        360
      ]
    },
    {
      "parameters": {
        "url": "={{ $('normalizacao').item.json.body.data.message.mediaUrl }}",
        "options": {}
      },
      "id": "6ac8a21e-8b0b-4269-8d17-80e2ca191edf",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        560
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "88e7eb06-6750-4328-bca1-88b7b1d29783",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        2140,
        360
      ],
      "credentials": {
        "openAiApi": {
          "id": "iN4a97ryVNhyjXYE",
          "name": "VendedorGas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"server_url\"] }}/message/sendText/{{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"name\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"chat_id\"] }}"
            },
            {
              "name": "text",
              "value": "=*Transcrião:*\n\n{{ $item(\"0\").$node[\"OpenAI\"].json[\"text\"] }}"
            },
            {
              "name": "linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "presence",
              "value": "composing"
            },
            {
              "name": "delay",
              "value": "={{2000}}"
            }
          ]
        },
        "options": {}
      },
      "id": "97cc8764-97a8-4b5d-b19d-6c98c2396ec6",
      "name": "EvolutionV2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        560
      ]
    },
    {
      "parameters": {
        "content": "## transcritor Híbrido\n## Criado por [Rick Leles](https://wa.me/559281260140)",
        "height": 611.3222331048,
        "width": 1774.9377226647362,
        "color": 4
      },
      "id": "3ddb3b54-7155-48af-91fd-61e31dfd73cb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        240
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "807a8e89-e178-47bd-8b2f-3e429828f203",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        1940,
        560
      ],
      "credentials": {
        "openAiApi": {
          "id": "iN4a97ryVNhyjXYE",
          "name": "VendedorGas"
        }
      }
    },
    {
      "parameters": {
        "content": "Coloque suas credênciasi do Opne.AI",
        "height": 222.0568070519099,
        "width": 209.9118511263468,
        "color": 6
      },
      "id": "9ff9ccfa-5e4c-442c-96ef-61f94f3c4c16",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2100,
        300
      ]
    },
    {
      "parameters": {
        "content": "Coloque suas credênciasi do Opne.AI",
        "height": 214.5347698334966,
        "width": 209.9118511263468,
        "color": 6
      },
      "id": "4c424ab7-b32c-4f09-b0d9-98b1612c5a28",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1900,
        520
      ]
    },
    {
      "parameters": {
        "content": "é só copiar o link de\nTeste/Produção e colar na sua Evolution V1/V2",
        "height": 231.45935357492624,
        "width": 191.1067580803136,
        "color": 3
      },
      "id": "cc247961-71b9-4daa-8839-458c5522aade",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        760,
        376
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e2668a8-d45e-4c8b-b285-4d2c67992319",
              "leftValue": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"chat_id\"] }}",
              "rightValue": "120363312699206310@g.us",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3f900048-1792-41f8-b716-1fb69b12eddd",
              "leftValue": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"chat_id\"] }}",
              "rightValue": "120363321476906032@g.us",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "45e6be5b-0950-4bce-9324-122e83141e10",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1140,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "244ad627-3ae4-4675-b5eb-f202510764ad",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "6dda70da-e4e8-4e08-9f99-49a3f3b8833b",
              "leftValue": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"content_type\"] }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a29e5676-35ae-4159-81df-21ce650e046b",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        460
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.base64 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "V1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c90ca789-b09d-4be7-a427-75ed83753e67",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.base64 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "V2"
            }
          ]
        },
        "options": {}
      },
      "id": "186c75e5-63dc-4d26-9113-197f3cc93f96",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1540,
        460
      ]
    },
    {
      "parameters": {
        "content": "Coloque o ID do Grupo Ignorado aqui.\npor padrão ja tem 2",
        "height": 246.7991604864612,
        "width": 209.9118511263468,
        "color": 5
      },
      "id": "8c892ffd-4ed5-4d67-974a-b83eda4c27c9",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1100,
        380
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transcricao",
        "options": {}
      },
      "id": "a73875d2-1b49-4e9e-9597-cdf38b4ea328",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        800,
        460
      ],
      "webhookId": "95eb9207-69da-4fad-9a3d-4c4ca248e0bf"
    }
  ],
  "connections": {
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Puxa Base64 pelo ID da Conversa": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalizacao": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "EvolutionV1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "EvolutionV2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        null,
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        null,
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Puxa Base64 pelo ID da Conversa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "normalizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
