n8n-files/Transcritor para WhatsApp/TranscritorWhatsApp
{
  "meta": {
    "instanceId": "a09197f2ebd5d0e70f4c2d405c2727a5edeaaeb2b140b3de436362e346eeb71f"
  },
  "nodes": [
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "transcricao.mp4",
          "mimeType": "audio/mp4"
        }
      },
      "id": "032f67df-c32a-41b1-8c71-2d7416f460f4",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2650,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"server_url\"] }}/chat/getBase64FromMediaMessage/{{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"name\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"message_id\"] }}\"\n    }\n  },\n  \"convertToMp4\": false\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "1095098e-967c-45b0-aba7-3e195acec137",
      "name": "Puxa Base64 pelo ID da Conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2450,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f16b1bf-1a3e-4029-8d7a-1bccb919ee43",
              "name": "message.message_id",
              "value": "={{ $('Webhook').item.json.body.data.key.id || '' }}",
              "type": "string"
            },
            {
              "id": "11800d83-ecca-4f9c-a878-a2419db0c8e9",
              "name": "message.chat_id",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid || '' }}",
              "type": "string"
            },
            {
              "id": "c33f9527-e661-49e5-8e5e-64f3b430928a",
              "name": "message.content_type",
              "value": "={{ $('Webhook').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook').item.json.body.data.message.imageMessage ? 'image' : '' }}",
              "type": "string"
            },
            {
              "id": "06eba1c9-cff0-4f68-b6da-6bb0092466b7",
              "name": "message.content",
              "value": "={{ $('Webhook').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook').item.json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "b97f1af3-5361-46fc-9303-d644921231d8",
              "name": "message.timestamp",
              "value": "={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}",
              "type": "string"
            },
            {
              "id": "dc3dc59c-90a3-4a45-bea2-de092c91083b",
              "name": "message.content_url",
              "value": "={{ $('Webhook').item.json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook').item.json.body.data.message.imageMessage?.url || '' }}",
              "type": "string"
            },
            {
              "id": "8b01a818-a456-476e-bace-adefe2f04eb4",
              "name": "message.event",
              "value": "={{ $('Webhook').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}",
              "type": "string"
            },
            {
              "id": "b2f1f6b5-292f-4695-9e41-be200c6d7053",
              "name": "instance.name",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "572fcce5-8a26-4e8f-a48a-ef0bee569dcd",
              "name": "instance.apikey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "e90043db-657b-461c-b040-2d6089abfbdb",
              "name": "instance.server_url",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "a944f7a5-0eb8-46e5-a2bc-2b8ace536277",
              "name": "body.data.message.mediaUrl",
              "value": "={{ $json.body.data.message.mediaUrl }}",
              "type": "string"
            },
            {
              "id": "cec38f3d-d6a7-49a2-8504-5e407504147a",
              "name": "body.data.pushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "f6bc3820-44f6-4b3f-90e3-626d9c2df980",
              "name": "body.data.message.base64",
              "value": "={{ $json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ca1a9ff0-4b96-4983-838c-8496e241812a",
      "name": "normalizacao",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1690,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"server_url\"] }}/message/sendText/{{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"name\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"chat_id\"] }}\",\n  \"options\": {\n    \"delay\": 1200,\n    \"presence\": \"composing\",\n    \"linkPreview\": false\n  },\n  \"textMessage\": {\n    \"text\": \"{{ $item(\"0\").$node[\"OpenAI1\"].json[\"text\"] }}\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "8a437d4e-54d7-43f1-bd95-8e827cc6a684",
      "name": "EvolutionV1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3050,
        120
      ]
    },
    {
      "parameters": {
        "url": "={{ $('normalizacao').item.json.body.data.message.mediaUrl }}",
        "options": {}
      },
      "id": "93445c0e-3c31-47c6-9479-319475445a2d",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2450,
        320
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "babbc9f3-ee73-4b9b-98b4-32cbf2bf09a9",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        2850,
        120
      ],
      "credentials": {
        "openAiApi": {
          "id": "iN4a97ryVNhyjXYE",
          "name": "VendedorGas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"server_url\"] }}/message/sendText/{{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"name\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"chat_id\"] }}"
            },
            {
              "name": "text",
              "value": "=*Transcrião:*\n\n{{ $item(\"0\").$node[\"OpenAI\"].json[\"text\"] }}"
            },
            {
              "name": "linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "presence",
              "value": "composing"
            },
            {
              "name": "delay",
              "value": "={{2000}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e4b1d840-ea53-4d13-86a0-a092d8ed793f",
      "name": "EvolutionV2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2850,
        320
      ]
    },
    {
      "parameters": {
        "content": "## transcritor Híbrido\n## Criado por [Rick Leles](https://wa.me/559281260140)",
        "height": 611.3222331048,
        "width": 1774.9377226647362,
        "color": 4
      },
      "id": "0126bbcf-509f-4271-b236-55353a0477aa",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1450,
        0
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "60ee7a68-b152-4f7d-bc2a-b884fccbf8e7",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        2650,
        320
      ],
      "credentials": {
        "openAiApi": {
          "id": "iN4a97ryVNhyjXYE",
          "name": "VendedorGas"
        }
      }
    },
    {
      "parameters": {
        "content": "Coloque suas credênciasi do Opne.AI",
        "height": 222.0568070519099,
        "width": 209.9118511263468,
        "color": 6
      },
      "id": "5b204402-dcd0-449d-99fc-39f3c452ae34",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2800,
        60
      ]
    },
    {
      "parameters": {
        "content": "Coloque suas credênciasi do Opne.AI",
        "height": 214.5347698334966,
        "width": 209.9118511263468,
        "color": 6
      },
      "id": "9439108c-c4d6-4877-a7d0-7058033f6442",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2580,
        280
      ]
    },
    {
      "parameters": {
        "content": "é só copiar o link de\nTeste/Produção e colar na sua Evolution V1/V2",
        "height": 231.45935357492624,
        "width": 191.1067580803136,
        "color": 3
      },
      "id": "b6c25079-c6e2-4dba-859d-5cd825354dd6",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1470,
        136
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e2668a8-d45e-4c8b-b285-4d2c67992319",
              "leftValue": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"chat_id\"] }}",
              "rightValue": "120363312699206310@g.us",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3f900048-1792-41f8-b716-1fb69b12eddd",
              "leftValue": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"chat_id\"] }}",
              "rightValue": "120363321476906032@g.us",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "aef27263-ed7f-418d-ae6d-77db3d842a59",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1850,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "244ad627-3ae4-4675-b5eb-f202510764ad",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "6dda70da-e4e8-4e08-9f99-49a3f3b8833b",
              "leftValue": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"content_type\"] }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6d3d66d6-8800-493d-a200-db181f69f5fa",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2050,
        220
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transcricao",
        "options": {}
      },
      "id": "54d08b50-5fa3-401f-831a-a6e0728df29b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1510,
        220
      ],
      "webhookId": "95eb9207-69da-4fad-9a3d-4c4ca248e0bf"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.base64 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "V1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c90ca789-b09d-4be7-a427-75ed83753e67",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.base64 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "V2"
            }
          ]
        },
        "options": {}
      },
      "id": "a98865d5-29b3-4b35-b61e-7c68147c9a40",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2250,
        220
      ]
    },
    {
      "parameters": {
        "content": "Coloque o ID do Grupo Ignorado aqui.\npor padrão ja tem 2",
        "height": 246.7991604864612,
        "width": 209.9118511263468,
        "color": 5
      },
      "id": "5e6af21d-e42e-4829-9489-f8df925aef90",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1810,
        140
      ]
    }
  ],
  "connections": {
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Puxa Base64 pelo ID da Conversa": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalizacao": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "EvolutionV1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "EvolutionV2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        null,
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        null,
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "normalizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Puxa Base64 pelo ID da Conversa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
