n8n-files/Transcritor para WhatsApp/TranscritorWhatsApp
{
  "meta": {
    "instanceId": "a09197f2ebd5d0e70f4c2d405c2727a5edeaaeb2b140b3de436362e346eeb71f"
  },
  "nodes": [
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "transcricao.mp4",
          "mimeType": "audio/mp4"
        }
      },
      "id": "20a8f236-9e1a-4c14-aac6-2bc1955efa33",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -660,
        1780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"server_url\"] }}/chat/getBase64FromMediaMessage/{{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"name\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"message_id\"] }}\"\n    }\n  },\n  \"convertToMp4\": false\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "c5915598-21f5-4df0-8a9e-d248c7069cb2",
      "name": "Puxa Base64 pelo ID da Conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -860,
        1780
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f16b1bf-1a3e-4029-8d7a-1bccb919ee43",
              "name": "message.message_id",
              "value": "={{ $('Webhook').item.json.body.data.key.id || '' }}",
              "type": "string"
            },
            {
              "id": "11800d83-ecca-4f9c-a878-a2419db0c8e9",
              "name": "message.chat_id",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid || '' }}",
              "type": "string"
            },
            {
              "id": "c33f9527-e661-49e5-8e5e-64f3b430928a",
              "name": "message.content_type",
              "value": "={{ $('Webhook').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook').item.json.body.data.message.imageMessage ? 'image' : '' }}",
              "type": "string"
            },
            {
              "id": "06eba1c9-cff0-4f68-b6da-6bb0092466b7",
              "name": "message.content",
              "value": "={{ $('Webhook').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook').item.json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "b97f1af3-5361-46fc-9303-d644921231d8",
              "name": "message.timestamp",
              "value": "={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}",
              "type": "string"
            },
            {
              "id": "dc3dc59c-90a3-4a45-bea2-de092c91083b",
              "name": "message.content_url",
              "value": "={{ $('Webhook').item.json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook').item.json.body.data.message.imageMessage?.url || '' }}",
              "type": "string"
            },
            {
              "id": "8b01a818-a456-476e-bace-adefe2f04eb4",
              "name": "message.event",
              "value": "={{ $('Webhook').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}",
              "type": "string"
            },
            {
              "id": "b2f1f6b5-292f-4695-9e41-be200c6d7053",
              "name": "instance.name",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "572fcce5-8a26-4e8f-a48a-ef0bee569dcd",
              "name": "instance.apikey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "e90043db-657b-461c-b040-2d6089abfbdb",
              "name": "instance.server_url",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "a944f7a5-0eb8-46e5-a2bc-2b8ace536277",
              "name": "body.data.message.mediaUrl",
              "value": "={{ $json.body.data.message.mediaUrl }}",
              "type": "string"
            },
            {
              "id": "cec38f3d-d6a7-49a2-8504-5e407504147a",
              "name": "body.data.pushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "f6bc3820-44f6-4b3f-90e3-626d9c2df980",
              "name": "body.data.message.base64",
              "value": "={{ $json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b9600114-300f-4951-a270-e65c10fb9d56",
      "name": "normalizacao",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1620,
        1880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"server_url\"] }}/message/sendText/{{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"name\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"chat_id\"] }}\",\n  \"options\": {\n    \"delay\": 1200,\n    \"presence\": \"composing\",\n    \"linkPreview\": false\n  },\n  \"textMessage\": {\n    \"text\": \"{{ $item(\"0\").$node[\"OpenAI1\"].json[\"text\"] }}\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "f3718647-8ccc-4672-bdd0-0681f96b47ae",
      "name": "EvolutionV1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        1780
      ]
    },
    {
      "parameters": {
        "url": "={{ $('normalizacao').item.json.body.data.message.mediaUrl }}",
        "options": {}
      },
      "id": "efbe4a14-2d57-41a6-8f50-31984b135608",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -860,
        1980
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "3b14b147-0615-418c-9870-71609b3dd918",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        -460,
        1780
      ],
      "credentials": {
        "openAiApi": {
          "id": "iN4a97ryVNhyjXYE",
          "name": "VendedorGas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"server_url\"] }}/message/sendText/{{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"name\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"instance\"][\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"chat_id\"] }}"
            },
            {
              "name": "text",
              "value": "=*Transcrião:*\n\n{{ $item(\"0\").$node[\"OpenAI\"].json[\"text\"] }}"
            },
            {
              "name": "linkPreview",
              "value": "={{ false }}"
            },
            {
              "name": "presence",
              "value": "composing"
            },
            {
              "name": "delay",
              "value": "={{2000}}"
            }
          ]
        },
        "options": {}
      },
      "id": "68fec81e-9a89-4871-87e9-724e5becfbec",
      "name": "EvolutionV2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        1980
      ]
    },
    {
      "parameters": {
        "content": "## transcritor Híbrido\n## Criado por [Rick Leles](https://wa.me/559281260140)",
        "height": 611.3222331048,
        "width": 1774.9377226647362,
        "color": 4
      },
      "id": "7a744a6c-7cdf-4d25-9a21-83cf1da2763b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1860,
        1660
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "51dbb612-35e3-4f08-9b41-5696913ce677",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        -660,
        1980
      ],
      "credentials": {
        "openAiApi": {
          "id": "iN4a97ryVNhyjXYE",
          "name": "VendedorGas"
        }
      }
    },
    {
      "parameters": {
        "content": "Coloque suas credênciasi do Opne.AI",
        "height": 222.0568070519099,
        "width": 209.9118511263468,
        "color": 6
      },
      "id": "6a80b242-ad54-41a5-86f4-67764b0951da",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -730,
        1720
      ]
    },
    {
      "parameters": {
        "content": "Coloque suas credênciasi do Opne.AI",
        "height": 214.5347698334966,
        "width": 209.9118511263468,
        "color": 6
      },
      "id": "8dbfe3b6-013f-4924-8212-e78578294674",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -940,
        1938
      ]
    },
    {
      "parameters": {
        "content": "é só copiar o link de\nTeste/Produção e colar na sua Evolution V1/V2",
        "height": 231.45935357492624,
        "width": 191.1067580803136,
        "color": 3
      },
      "id": "64702b0e-b362-42e8-8b68-ff604a42d60c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1840,
        1796
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e2668a8-d45e-4c8b-b285-4d2c67992319",
              "leftValue": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"chat_id\"] }}",
              "rightValue": "120363312699206310@g.us",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3f900048-1792-41f8-b716-1fb69b12eddd",
              "leftValue": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"chat_id\"] }}",
              "rightValue": "120363321476906032@g.us",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "3360ee43-3aad-4991-b9a1-05af67f86cb5",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1460,
        1880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "244ad627-3ae4-4675-b5eb-f202510764ad",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "6dda70da-e4e8-4e08-9f99-49a3f3b8833b",
              "leftValue": "={{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"content_type\"] }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "27966e75-a261-4069-98a5-a5b5dd269c9d",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1260,
        1880
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transcricao",
        "options": {}
      },
      "id": "543bdefd-0451-451f-8493-eec799cef797",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1800,
        1880
      ],
      "webhookId": "95eb9207-69da-4fad-9a3d-4c4ca248e0bf"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.base64 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "V1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c90ca789-b09d-4be7-a427-75ed83753e67",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.base64 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "V2"
            }
          ]
        },
        "options": {}
      },
      "id": "eb4fd920-550e-4403-a763-ab1a4a8f4b5e",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1060,
        1880
      ]
    },
    {
      "parameters": {
        "content": "Coloque o ID do Grupo Ignorado aqui.\npor padrão ja tem 2",
        "height": 246.7991604864612,
        "width": 209.9118511263468,
        "color": 5
      },
      "id": "08966278-9c08-4188-a577-c1b7c9d01e6f",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1500,
        1800
      ]
    }
  ],
  "connections": {
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Puxa Base64 pelo ID da Conversa": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalizacao": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "EvolutionV1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "EvolutionV2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        null,
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        null,
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "normalizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Puxa Base64 pelo ID da Conversa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
